:root{
    --color1:#CFFFB3;
    --color2:#3B7080;
    --color3:#3A5743;
    --color4:#F1F2F6;
    --color5:#AEB8FE;
    --color6:#FF8600;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
}

.con_reser{
    width: 77%;
    height: 100vh;
}

.perfil{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 20px;
}

.perfil h5{
    margin-right: 20px;
    font-size: 20px;
    font-family: serif;
    font-weight: 500;
    color: #b47043;
}

.buscador{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.con_in{
    width: 470px;
    height: 100%;
    border-radius: 10px;
}

.con_in input{
    border: 2px solid #b47043;
    height: 35px;
}

.text_reser{
    width: 100%;
    height: 30px;
    margin-top: 20px;
    text-align: center;
}

.text_reser h4{
    font-family: serif;
    font-weight: 500;
    color: #b47043;
}

.btn_reser{
    width: 100%;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}

.informe{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informe a{
    background-color: #b47043;
    width: 230px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    border-bottom: 0px 0px 5px rgba(0, 0, 0, 0.425);
    margin-left: 9px;
}

.informe i{
    font-size: 20px;
}

.reserva{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.con_tab{
    width: 98%;
    height: 100%;
    overflow: auto;
}

.con_tab table thead{
    position: sticky;
    top: 0;
}